@use "../../partials/variables" as *;
.error {
  position: relative;
  width: 100%;
  height: 100vh;
  color: $text-color;
  background-color: black;

  &__dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);

    min-width: 300px;
    min-height: 300px;
    // padding: 2rem;
    border: 5px double $text-color;
    border-radius: 10%;
  }

  &__title-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__logo {
    position: absolute;
    left: 10%;
    top: 8%;
  }

  &__heading {
    font-size: 70px;
    padding: 0 6rem 2rem 8rem;
  }

  &__message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
