.home {
  height: 100vh;
  width: 100vw;

  &__title-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 0 4rem;
    text-wrap: nowrap;

    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2rem 2rem rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    overflow: hidden;
  }

  &__title-name {
    position: relative;
    color: hsl(120deg 100% 50%);
    font-size: 5rem;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    letter-spacing: 2.5rem;
  }
  &__title-position {
    position: relative;
    color: hsl(120deg 100% 50%);
    text-align: center;
  }
}

.glitch {
  position: relative;
  color: hsl(120deg 100% 50%);
  &:before,
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    clip-path: polygon(15% 80%, 0 20%, 100% 0, 80% 100%, 20% 100%);
    color: hsl(120deg 100% 50%);
  }

  &:before {
    left: 2px;
    text-shadow: -3px 0 red;
  }

  &:after {
    left: -2px;
    text-shadow: 3px 0 blue;
    clip-path: polygon(100% 0, 40% 0, 60% 100%, 100% 100%);
  }
}
